.container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    /* width: 400px; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.header#first  {
  font-family: monospace;
  background: papayawhip;
}

.header#second {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  gap: 16px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
}

.logo#second {
  color: rebeccapurple;
  font-style: italic;
}

.logo#first {
  margin: auto;
  color: tomato;
  background: white;
  padding: 6px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 12px;
  align-items: baseline;
  padding: 0px;
}


a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
  margin-left: auto;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.info {
  background: white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.infotitle {
  font-size: xx-large;
}

.characters {
  gap: 52px;
  flex-wrap: wrap;
}

.character {
  max-width: 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}